.suport-title,
.sales-title,
.connect-title,
.title-menu {
  font-family: 'uncleedward';
  font-size: 30px;
  color: rgb(252, 198, 19);
}

.menu ul li,
.support-mail,
.sales-mail {
  color: purple;
  font-weight: 900;
  cursor: pointer;
  font-family: 'Courgette', cursive;
  line-height: 24px;
  font-size: 18px;
  padding: 2px;
}

.contact {
    font-family: 'Aileron', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: orange;
}

.connect-btn img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  padding: 5px;
}

.connect-btn img:hover {
    border-bottom: 2px solid green;
}

@media screen and (max-width: 480px) {
  .footer-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu {
    display: none !important;
  }

  .sales {
    margin-left: 10px;
  }

  .support {
    margin-left: 30px;
  }

  .connect {
    margin-left: -40px;
  }
}

@media screen and (max-width: 780px) {
  .support-mail {
    border: 1px solid blue;
    width: 250px;
    overflow-wrap: break-word;
  }

  .connect-btn {
    margin-left: -40px;
  }

  a img {
    min-width: 30px !important;
    height: 30px !important;
    cursor: pointer;
  }
}